img.center{
    display: block;
    margin: 0 auto;
    padding-top: 136px;
    text-align: center;
  }

input.searchbar {
    display: block;
    margin: 25px auto;
    width: 40%;
    height: 45px;
    border: 1px solid lightgrey;
    border-radius: 22px;
    text-align: center;
    font-size: large;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
  }